table{
    width: 700px;
    /* border: 1px solid #ccc; */
    margin: 30px calc((100% - 700px) / 2);
    border-spacing: 2px;
    position: relative;
}
caption{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
table td{
    padding: 15px;
    background-color: #eee;
}
thead td{
    background-color: rgb(64,64,64);
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}
tbody{
    text-align: center;
    background-color: #eee;
    position: relative;

}
tbody::after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid rgb(0,150,136);
    left: 0;
    bottom: 0;
}
.one{
    cursor: pointer;
    color: #fff;
    background-color: rgb(3,169,244);
    text-align: center;
    border: 1px solid transparent;
}
.two{
    cursor: pointer;
    color: #fff;
    background-color: rgb(233,30,99);
    text-align: center;
    border: 1px solid transparent;
}
img{
    width: 50px;
    height: 50px;
}